@model ResumenEmpleados
@{
    List<string> oficiosList = 
                ViewData["OFICIOS"] as List<string>;
}

<h2>Lambda Linq Empleados</h2>

<form method="post">
    <label>Oficio: </label>
    <select name="oficio" class="form-control">
        @foreach (string ofi in oficiosList)
            {
                <option>@ofi</option>
            }
        </select>
    <button class="btn btn-warning">
        Buscar empleados
    </button>
</form>

@if (Model != null)
{
    <ul class="list-group">
        <li class="list-group-item list-group-item-secondary">
            Personas: @Model.Personas
        </li>
        <li class="list-group-item list-group-item-warning">
            Máximo salario: @Model.MaximoSalario
        </li>
        <li class="list-group-item list-group-item-primary">
            Media salarial: @Model.MediaSalarial
        </li>
    </ul>
    @if (Model.Empleados != null)
    {
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Apellido</th>
                    <th>Oficio</th>
                    <th>Salario</th>
                    <th>Departamento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Empleado empleado in Model.Empleados)
                {
                    <tr>
                        <td>@empleado.Apellido</td>
                        <td>@empleado.Oficio</td>
                        <td>@empleado.Salario</td>
                        <td>@empleado.IdDepartamento</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2 style="color:blue">
            No existen empleados
        </h2>
    }
}